@model Social.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <h1></h1>
        <dt>
            @Html.DisplayNameFor(model => model.Description.background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description.background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.groupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Universe.origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Universe.origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
